/* global styles */
* {
    margin: 0;
    padding: 0;
}

html, body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.align-center {
    align-items: center;
}

.text-center {
    text-align: center;
}

.justify-center {
    justify-content: center;
}

/* header style */

header {
    /* border: 2px solid green; */
    height: 75px;
    box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
}

header h1 {
    margin-left: 60px;
}

/* main content style */

.main-content {
    border: 2px solid green;
    margin: 30px;
    padding: 30px;
    justify-content: space-between;
}

.about {
    border: 2px solid green;
}

.path-box {
    border: 2px solid green;
    margin: 18px 0px
}

/* archive style */

.archive {
    border: 2px solid green;
    margin: 30px;
    padding: 30px;
}

/* social media style */

.social-media {
    border: 2px solid green;
    margin: 30px;
    padding: 30px;
}

/* footer style */

footer {
    border: 2px solid green;
    margin-top: auto;
}