/* global styles */
* {
    margin: 0;
    padding: 0;
}

html, body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.align-center {
    align-items: center;
}

.text-center {
    text-align: center;
}

.justify-center {
    justify-content: center;
}

/* header style */

header {
    height: 90px;
    box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
}

header h1 {
    margin-left: 60px;
    font-size: 35px;
    font-weight: 700;
}

/* main content style */

.main-content {
    /* border: 2px solid green; DO NOT DELETE this will be used during the creating of the media queries */
    margin: 30px;
    padding: 30px;
    justify-content: space-between;
}

.path-box {
    border-radius: 5px;
    margin: 28px 150px
}

.about, .this-week, .ztm, .trailhead, .archive, .notes, .other-courses {
    padding: 25px 30px;
}

.about, .notes {
    box-shadow: 0 0px 10px 0 rgba(209, 17, 73, 1);
}

.this-week, .archive {
    box-shadow: 0 0px 10px 0 rgba(102, 16, 242, 1);
}

.ztm {
    box-shadow: 0 0px 10px 0 rgba(241, 113, 5, 1);
}

.other-courses {
    box-shadow: 0 0px 10px 0 rgba(230, 194, 41, 1);
}

.trailhead {
    box-shadow: 0 0px 10px 0 rgba(26, 143, 227, 1);
}

.about h2, .this-week h2, .notes h2, .archive h2 {
    margin-bottom: 20px;
    font-size: 30px;
}

.ztm h2, .trailhead h2, .other-courses h2 {
    margin-bottom: 25px;
    font-size: 40px;
}

.about p, .this-week p, .notes p, .archive p {
    line-height: 1.5;
    font-size: 18px;
}

.this-week p, .archive p{
    margin: 10px 0px;
}

.ztm p, .trailhead p, .other-courses p {
    margin: 15px 0px;
    font-size: 23px;
    font-weight: 600;
}

.ztm-link {
    margin: 35px 0px 20px 0px;
} 

.bold {
    font-size: 25px;
    font-weight: 700;
}

.link-font {
    font-size: 30px;
    font-weight: 700;
}

.archive {
    margin: 30px;
    padding: 30px;
}

/* footer style */

footer {
    height: 60px;
    box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.5);
    margin-top: auto;
    font-weight: 600;
    font-size: 22px;
}